form {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

.example-full-width {
    width: 100%;
}

.center-select {
    width: 100%;
    text-align: center;
}

button[type="submit"] {
    width: 100%;
    margin-top: 20px;
}

mat-checkbox {
    display: block;
    margin-bottom: 10px;
}