<form [formGroup]="form" (ngSubmit)="register()">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Rol del usuario </mat-label>
      <mat-select formControlName="seleccion">
        <mat-option *ngFor="let r of roles" [value]="r.value">
          {{ r.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('seleccion')?.hasError('required')"
        >El responsable es obligatorio.</mat-error
      >
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary" type="submit">
      Registrar Usuario
    </button>
  </div>
</form>
